<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ClientId</key>
		<string>In37wI97YdcotndGEQDP_B-6BnKj2YYX</string>
		<key>Domain</key>
		<string>cadencecore.au.auth0.com</string>
	</dict>
</plist>

